.App {
    background-color: #282c34;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-wrapper {
    width: 400px;
    height: 300px;
    border: 3px solid dodgerblue;
    border-radius: 10px;
    background-color: #282c34;
    padding: 30px;
    margin: 40px;
    box-shadow: 8px 14px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: dodgerblue;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    width: 380px;
    height: 140px;
    padding: 10px;
    color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setText {
    font-size: 30px;
    font-weight: bold;
    vertical-align: super;
    color: #282c34;
}

.errorText {
    font-size: 30px;
    font-weight: bold;
    vertical-align: super;
    color: darkred;
}

.button {
    background-color: dodgerblue;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    color: #282c34;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 3px 7px 10px black;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 370px;
    border: 3px solid #0F4A82;
    border-radius: 10px;
    background-color: #282c34;
    padding: 12px;
    margin-top: 30px;
}
.counter {
    font-size: 50px;
    font-weight: bold;
    color: #282c34;
}
.red {
    color: darkred;
    font-size: 50px;
    font-weight: bold;
}

.disabled {
    background-color: darkred;
}
.input-display {
    margin: 10px;
}
.input {
    text-align: center;
    font-weight: bold;
}
.redInput {
    border: 2px solid darkred;
    border-radius: 3px;
    outline: none;
    background-color: indianred;
}